{% extends 'mailing/base.html' %}
{% block content %}
    <form method="post" class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Delete address
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <p>Are you sure you want to delete the address:<br>
                        "{{ object.first_name }} {{ object.last_name }} ({{ object.email_address }})"?</p>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a class="btn btn-secondary" href="{% url 'mailing:addresses' %}">Cancel</a>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
